@charset "ISO-8859-1";

body {
	background-color: lightblue;
	border: 2px
}

p {
color: black;
texr-align: center;
}

.container {
	border: 2px solid #ccc;
	background-color: #eee;
	border-radius: 5px;
	padding: 16px;
	margin:16px 0;
}

.container::after {
	content: "";
	clear: both;
	display: table;
}

.container img {
	float: left;
	margin-right: 20px;
	border-radius: 50%;
}

@media (max-width: 500px){
	
	.container {
	text-align: center;
	}
	
	.container img {
	margin: auto;
	float: none;
	display: block;
	}
}